@import "~/styles/_variables.scss";

.wrapper {
    background: $primaryColor;
}
.container {
    margin: 0 auto;
    width: $containerWidth;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: $spaceXL 0;
    text-align: center;
}

.phone {
    padding-left: $spaceS;
}
