@import "~/styles/_variables.scss";

.container {
    display: flex;
    flex-direction: column;
}

.item {
    width: 350px;
    padding: $spaceL;
}

.odd {
    background-color: $lightgrayColor;
}

.even {
    background-color: $lighterColor;
}
