$spaceXS: 2px;
$spaceS: 4px;
$space: 8px;
$spaceM: 16px;
$spaceL: 32px;
$spaceXL: 64px;

$primaryColor: #1ba0f2;
$secondaryColor: #41f2f2;
$darkGrayColor: #363636;
$lightestgrayColor: #eeeeee;
$lightgrayColor: #8f8f8f;
$grayColor: #5e5e5e;
$darkColor: #0d0d0d;
$lightColor: #f6f6f6;
$lighterColor: #fdfdfd;
$black: #000;
$errorColor: #e0a148;

$fontSizeLevel1: 60px;
$fontSizeLevel2: 48px;
$fontSizeLevel3: 36px;
$fontSizeLevel4: 24px;
$fontSizeLevel5: 18px;
$fontSizeLevel6: 15px;
$fontSizeLevel7: 12px;

$containerWidth: 960px;
